
/* ----- GENERAL ----- */

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.prototype-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.prototype-row .col {
  display: flex;
  flex-wrap: wrap;
  width: 32%;
}

.remove-space img{
  margin: 0;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.final-mockup-la-batie img {
  max-width: 90vh;
  height: auto;
}

strong {
  font-weight: 600;
}

h1 {
  font-size: 36px;
  color: #393433;
  margin-top: 0px;
  margin-bottom: 24px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  color: #393433;
  margin-top: 0px;
  margin-bottom: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  color: #393433;
  margin-bottom: 12px;
  font-weight: 700;
}

h4 {
  font-size: 18px;
  color: #8c8c8c;
  margin-top: 24px;
  margin-bottom: 0;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 26px;
  /* color: #393433; */
  color: black;
  margin-bottom: 24px;
  font-weight: 300;
}

li {
  font-size: 16px;
  margin-top: 14px;
  font-weight: 300;
  line-height: 24px;
}

img {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 0px;
}

figcaption {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;
  margin-bottom: 12px;
}

a {
  text-decoration: none;
}

button {
  text-decoration: none;
  font-size: 16px;
  background-color: white;
  color: #393433;
  border-style: solid;
  border-radius: 24px;
  border-width: 1px;
  border-color: #393433;
  margin-top: 24px !important;  /* space of buttons relative to each other*/
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 10px 20px;
}

button:hover, button:focus {
  background-color:rgb(232, 231, 231);
}

.other-projects {
  margin-top: 8%;
}

@media screen and (max-width: 480px) {
  .other-projects {
    margin-top: 10%;
  }
}

/* format */

.text-width {
  margin-left: 20%;
  margin-right: 20%;
}

.img-width {
  margin-left: 15%;
  margin-right: 15%;
}

.center {
  display: flex;
  margin: auto;
}

@media screen and (max-width: 950px) {
  .text-width {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .img-width {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 480px) {
  .text-width {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .img-width {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* ------- NAVIGATION BAR --------*/

#toc {
 position: sticky;
}

nav {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%; /* space of buttonsrelative to edge of screen*/
  margin-bottom: auto;
  margin-left: 15%;
  margin-right: 15%;
}

@media screen and (max-width: 720px) {
  nav {
    gap: 24px;
    justify-content: center;
    margin-bottom: 5%;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  nav {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.home-logo, .home-logo:hover, .home-logo:focus {
  text-decoration: none;
  border-style: none;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  background-color: white;
  color: #393433;
  border-style: solid;
  border-radius: 24px;
  border-width: 1px;
  border-color: #393433;
  margin-top: 24px; /* space of buttons relative to each other*/
  margin-left: 6px;
  margin-right: 6px;
  padding: 10px 20px;
}

nav a.home-logo:hover, nav a.home-logo:focus {
  background-color:rgb(255, 255, 255);
}

nav a:hover, nav nav a:focus {
  background-color:rgb(232, 231, 231);
}

/* ------- HOME PAGE --------*/

/* .home-banner {
  margin-right: 0;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: left;
  background-color:white;
}

.home-banner h4 {
  font-size: 2vw;
  color:#E0F18B;
  margin-top: 5%;
  margin-bottom: 0;
}

.home-banner p {
  padding: 2% 15%; 
  font-size: 2vw;
  line-height: 140%;
}

*/

.home-banner-text {
  padding: 10% 15%; /* padding is relative between text and parent element */
  font-size: 2vw;
  line-height: 140%;
} 

.ux-designer h4{
  color:#393433;
}

.featured-work-heading {
  font-size: 24px;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.cover-photo-button {
  border-style: none;
  border-radius: 24px;
  background: none;
  padding: 0;
  margin: 0;
  height: auto;
  box-shadow: 0px 0px 0px 0px rgba(204, 197, 190, 0.25);
}

 .cover-photo-button img {
  width: 100%;
  height: 100%;
  margin: 0;
}

.cover-photo-button:hover {
  transition-duration: 0.2s;
  box-shadow: 0px 0px 15px 0px rgba(161, 148, 146, 0.5);
} 

#project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  margin-left: 15%; /* distance between buttons and edge*/
  margin-right: 15%;
  gap: 3%;
}

#project-container p{
  line-height: 140%;
  font-weight: 300;
  color: black;
}

@media screen and (max-width: 480px) {
  #project-container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

#project-container .case-study {
  width: 48%;
}

.case-study h3 {
  margin-bottom: 3px;
}

.case-study p {
  margin-top: 3px;
  margin-bottom: 12px;
}

#project-container h3 {
  margin-top: 12px;
  font-size: 26px;
  font-weight: 700;
}

#project-container h4 {
  margin-top: 12px;
}

@media screen and (max-width: 720px) {
  #project-container .case-study{
    width: 100%;
  }

  #project-container button {
    width: 100%;
    height: auto;
  }
}

/* ----- ABOUT PAGE ----- */

.bio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5% 15% 0;
  gap: 5%;
}

.bio-img-container {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 37%;
}

.bio-container img {
  border-radius: 12px; 
  margin-top: 0;
  margin-bottom: 10px;
  height: auto;
  max-width: 100%;
}

.bio-text-container {
  display: flex;
  flex-wrap: wrap;
  width: 55%;
  align-content: space-evenly;
}

@media screen and (max-width: 1300px) {
  .bio-container {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (max-width: 1060px) {
  .bio-container {
    margin: 5% 15%;
  }

  .bio-container div {
    width: 100%;
  }
  
  .bio-container img, figcaption {
    width: 60%;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  .bio-container {
    margin-left: 20%;
    margin-right: 20%;
  }

  .bio-container img, figcaption {
    width: 100%;
  }

  /* .travel-img-container{
    min-width: 16px;
  } */

  .travel-img-container img {
    min-width: 328px;
  }

}

@media screen and (max-width: 480px) {
  .bio-container {
    justify-content: center;
    min-width: 328px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.hobby-text {
  text-align: left;
}

.travel-text {
  text-align: center;
  max-width: 900px;
}

.travel-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  gap: 3%;
}

.travel-img-container img {
  max-height: 100%;
  border-radius: 12px;
  min-width: 328px;
  max-width: 20vw;
}

.travel-img-container img:hover {
  max-height: 100%;
  border-radius: 12px;
  min-width: 328px;
  max-width: 20vw;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* aligns left-justified text to center */
  background-color: rgba(21, 21, 21, 0.7);
  border-radius: 10px;
  color: white;
  padding: 10px;
  visibility: hidden; /* Hide the text by default */
  opacity: 0; /* Hide the text by default */
  transition: opacity 1s ease; /* Add a smooth transition */
  white-space: nowrap; /* prevent text from wrapping */
}

.hint {
  position: absolute;
  top: 7%;
  left: 4%;
  background-color: rgba(41, 41, 41, 0.6);
  border-radius: 10px;
  color: white;
  padding: 5px;
  visibility: hidden;
}

.image-container:hover .image-text {
  visibility: visible; /* Show the text on hover */
  opacity: 1; /* Show the text on hover */
}

/* ---------- PROCESS ANALYSIS ----------*/

.project-container h3 {
  margin-bottom: 0;
}

.project-container h4 {
  margin-top: 0;
  margin-bottom: 12px;
}

/* ----- FOOTER ---- */

footer #page-top {
  margin-right: 60px;
}

/* @media screen and (max-width: 600px) {
  footer #page-top {
    margin-right: 12px;
    margin-left: auto;
    margin-right: auto;
  }
  
} */

@media screen and (max-width: 600px) {
  footer #page-top {
    width: 100%;
    margin: 6px 25%;
  }

  footer #email {
    width: 100%;
    margin: 6px 25%;
  }

  footer #linkedin {
    width: 100%;
    margin: 6px 25%;
  }

  /* header .home-logo {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 5%;
    padding: 6px 25%;
    justify-self: center;
  }

  header #work {
    display: flex;
    width: 100%;
    margin: 5%;
    padding: 6px 25%;
    justify-self: center;
  }

  header #about {
    display: flex;
    width: 100%;
    margin: 5%;
    padding: 6px 25%;
    justify-self: center;
  }

  header #resume {
    display: flex;
    width: 100%;
    margin: 5%;
    padding: 6px 25%;
    justify-self: center;
  } */
  
}

footer {
  margin-top: 3%;
  margin-bottom: 1%;
  /* padding: 10px 0 24px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  footer {
    margin-top: 2%;
  }
}

footer a {
  margin: 0 12px;
}

/* footer .flexbox .work {
  width: 100%;
  margin-bottom: 24px;
} */

footer .footer-credit {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 24px;
}

/* Hand wave, code source from Jake Jarvis at: https://codepen.io/jakejarvis/pen/pBZWZw */ 

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.hong1 {
  display: flex;
  max-width: 100% !important; 
  justify-content: space-between;
} 

 .hong2 {
  width: 48%;
}  

.jiang0 {
  display: flex;
  width: 100% !important; 
  justify-content: space-between;
}

.jiang1 {
  width: 25%;
}

.jiang3 {
  width: 75%;
}

.mock1 {
  width: 40%;
}

.mock3 {
  width: 55%;

}

.row {
  display: flex;
  width: 100% !important; 
  justify-content: space-between;
}

.col {
  width: 25%;
}

.context-container {
  display: flex;
  flex-wrap: wrap;
  /* background-color: #E0F18B; */
  border-radius: 24px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 24px;
  padding-bottom: 0px;
  margin-top: 0;
  margin-bottom: 24px;
}

.green-theme {
  background-color: #E0F18B;
}

.yellow-theme {
  background-color: #ffe270;
}

.grey-theme {
  background-color: #e8e8e8;
}

.blue-theme {
  background-color: #6F85FF;
}

@media screen and (max-width: 480px) {
  .context-container .jiang0 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .jiang2 {
    width: 25%;
  }
  
  .jiang3 {
    width: 100%;
  }
}

.context-container-row {
  display: flex;
}

.client-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  margin-bottom: 24px;
}

.brainstorm {
  display: flex;
  flex-wrap: wrap;
}

.pos-neg {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 720px) {

  .client-container div {
    width: 100%;
  }

  .problem-solution-container div {
    width: 100%;
  }

  .white-key-container div, .green-key-container div {
    width: 100%;
  }

  .brainstorm div {
    width: 100%;
  }

  .pos-neg div {
    width: 100%;
  }
}

.problem-solution-container {
  /* background-color:#E0F18B; */
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-top: 48px;
  margin-bottom: 48px;
}

/* .usability-pain-points h4{
  color:rgb(130, 171, 83); 
} */

.participatory-workshop-container h2 {
  margin-bottom: 24px;
}

.participatory-workshop-container p {
  margin-bottom: 12px;
  line-height: 26px;
}

.participatory-workshop-container h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.usability-testing-container { /*334*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 36px;
}

@media screen and (max-width: 720px){
  .item {
    flex-wrap: wrap;
    width: 100%;
  }
}

.usability-testing-container p { /*334*/
  margin-bottom: 12px;
  line-height: 26px;
}

.usability-testing-container h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.participatory-workshop-container h2 {
  margin-bottom: 24px;
}

.usability-testing-container img { /*334*/
  width: 80%;
}

.features-list-container {
  display: flex;
}

@media screen and (max-width: 720px) {
  .features-list-container {
    flex-wrap: wrap;
  }

  .features-list {
    width: 100%;
  }
}

.features-list {
  /* background-color: #E0F18B; */
  border-radius: 24px;
  padding: 3% 5%;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
}

.pain-points {
  /* background-color: #E0F18B; */
  border-radius: 24px;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
}

.pain-points p {
  padding-top: 24px;
  padding-bottom: 24px;
}

u {
  border-bottom: 2px solid rgb(80, 126, 56); /* Or whatever color you want */
    text-decoration: none;
}


.key-solution {
  /* background-color: #E0F18B; */
  border-radius: 24px;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 24px;
  padding-bottom: 0px;
  margin-bottom: 24px;
  gap: 5%;
}

.wireframe-container img {
  margin-top: 0;
  margin-bottom: 24px;
  padding-top: 0;
  padding-bottom: 0;
}

.problem-statement-container {
  /* background-color:#E0F18B; */
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.final-design-container{
  /* background-color:#E0F18B; */
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 36px;
  padding-bottom: 36px;
  margin-top: 60px;
  margin-bottom: 60px;
  flex-wrap: wrap;
  justify-content:space-between;
}

.final-design-container-334 {
  /* background-color:#E0F18B; */
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 36px;
  padding-bottom: 36px;
  margin-top: 0;
  margin-bottom: 0;
  flex-wrap: wrap;
  justify-content:left;
}

.green-key-container{
  /* background-color:#E0F18B; */
  padding-left: 13%;
  padding-right: 13%;
  padding-top: 36px;
  padding-bottom: 36px;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}

#skip-to-final {
  text-align: center;
}

.white-key-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 13%;
  margin-right: 13%;
  margin-top: 0;
  margin-bottom: 24px;
}

.mobile-key {
 margin: 3% 25%;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-evenly;
 gap: 5%;
}

.mobile-key-left {
  width: 60%
}

.mobile-key-right {
  width: 30%;
}

@media screen and (max-width: 900px) {

  .mobile-key {
    margin: 10%;
    display: flex;
    flex-wrap: wrap;
   }

  .mobile-key div {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
    width: 100%;
  }

  .mobile-key h2 {
    width: 100%;
  }

  .mobile-key-right {
    justify-content: center;
  }

  .mobile-key-right img {
    max-width: 250px;
    justify-self: center;
  }
}

@media screen and (min-width: 1300px) {
  .mobile-key-right img {
    max-width: 328px;
  }
}

/* .key-left {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.key-right {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.key-left img{
  width: 100%; 
}

.key-right img{
  width: 100%; 
} 
*/


@media screen and (max-width: 950px) {
  .problem-solution-container {
    /* background-color:#E0F18B; */
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .problem-statement-container {
    /* background-color:#E0F18B; */
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  
  .final-design-container {
    /* background-color:#E0F18B; */
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  #key-decisions-container img {
    min-width: 328px;
    max-width: 100%;
  }
}

.turning-point div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  align-content: center;
}

.turning-point img {
  margin-bottom: 6px;
}

.proposal p {
  margin-top: 3%;
  margin-bottom: 5%;
}

/* ---------- CAROUSEL ----------  Citation: https://webdesign.tutsplus.com/how-to-build-a-simple-carousel-with-vanilla-javascript--cms-41734t */

.space-above h3{
  margin-top: 24px;
}

.section {
  margin-top: 60px;
}

.banner {
  margin: 6% 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
}

.banner-drawing {
  width: 52%;
}

.banner-text {
  display: flex;
  flex-wrap: wrap;
  width: 43%;
  align-content: center;
}

.banner-text h1 {
  font-size: 42px;
  margin: 1% 2%;
  /* color:#7dbc56; */
}

.banner-text p {
  margin: 1% 2%;
  font-size: 22px;
  line-height: 140%;
  font-weight: 300;
}

@media screen and (max-width: 480px) {
  .banner {
    margin: 0 5% 48px;
  }

  .banner-img-horizontal {
    display: none;
  } 

  .banner-img-middle {
    display: block;
   }
}

@media screen and (min-width: 480px) {
  .banner-img-horizontal {
    display: block;
   }
   
   .banner-img-middle {
     display: none;
    }
}

@media screen and (max-width: 900px) {
  .preview-img-desktop {
    display: none;
  }
  
  .preview-img-mobile {
    display: block;
  }

  .preview-img-text {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
}

@media screen and (min-width: 900px) {
  .preview-img-desktop {
    display: block;
  }
  
  .preview-img-mobile {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .banner div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (min-width: 1300px){
  .banner-text h2 {
    font-size: 3vw;
    margin: 1% 2%;
  }
  
  .banner-text p {
    margin: 1% 2%;
    font-size: 1.5vw;
    line-height: 140%;
  } 
}

.about-banner {
  margin: 0 30%;
}

.preview-img {
  margin-top: 2%;
  margin-bottom: 2%;
}

.preview-img h2 {
  margin-top: 5%;
  margin-bottom: 0;
}

.preview-img h3 {
  margin: 0;
  font-weight: normal;
}

.preview-img img {
  margin: 0;
}

.shadow {
  box-shadow: 0px 3px 10px 3px rgba(161, 148, 146, 0.5);
}

.mobile-mockup-width {
  width: 20%;
}

.case-study-tags p {
  display: inline-block;
  white-space: nowrap;
  font-size: 14px;
  background-color: rgb(246, 245, 245);
  color: #393433;
  border-style: solid;
  border-radius: 12px;
  border-width: 1px;
  border-color: #393433;
  margin-top: 6px;  /* space of buttons relative to each other*/
  margin-right: 6px;
  margin-bottom: 0px;
  padding: 5px 10px;
}

.user-research li {
  margin: 0;
}

.user-research h4 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.user-research {
  margin-bottom: 48px;
  margin-left: 5%;
  margin-right: 5%;
}